<div class="content">

<ul>

  <li>
    <a href="pokedex">
      <div class="icon">
        <i class="fa fa-home" aria-hidden="true"></i>
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
      <div class="name"><span data-text="Pokedex">Pokedex</span></div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="icon">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
      </div>
      <div class="name"><span data-text="Link2">Link2</span></div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="icon">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        <i class="fa fa-cogs" aria-hidden="true"></i>
      </div>
      <div class="name"><span data-text="Link3">Link3</span></div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="icon">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <i class="fa fa-picture-o" aria-hidden="true"></i>
      </div>
      <div class="name"><span data-text="Link4">Link4</span></div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="icon">
        <i class="fa fa-user" aria-hidden="true"></i>
        <i class="fa fa-user" aria-hidden="true"></i>
      </div>
      <div class="name"><span data-text="Link5">Link5</span></div>
    </a>
  </li>

  <li>
    <a href="#">
      <div class="icon">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </div>
      <div class="name"><span data-text="Link6">Link6</span></div>
    </a>
  </li>

</ul>

</div>
