.app
{
  position: relative;
  display: flex;
  align-items: flex-start;
}

.background
{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #161623;
  height: 100vh;
}

.background::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#f00, #f0f);
  clip-path: circle(30% at right 70%);
}
.background::after
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#2196f3, #e91e63);
  clip-path: circle(20% at 10% 10%);
}

.nav
{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.content
{
  position: absolute;
  top: 0;
  right: 0;
  left: 300px;
  bottom: 0;
}
