<section>
  <header>
    <app-navbar></app-navbar>
  </header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>
    <!--div class="content">
      <h2>This is a Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a href="#">Read More</a>
    </div>
    <div class="imgBx">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png">
    </div--!>

  </div>
</section>


<!-- old html>

<div class="app">

  <div class="background"></div>

  <div class="nav">
    <app-navmenu></app-navmenu>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>

<-->
